<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p> Se estan buscando los Bancos del tipo: {{busqueda}} </p>

    {% for banco in bancos %}

        <ul>
            <li>Nombre: {{banco.nombre}}</li>
            <li>Direccion: {{banco.direccion}}</li>
            <li>Tipo: {{banco.tipoBco}}</li>
        </ul>
    
    {% endfor %}

</body>
</html>